In [ ]:
#IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import csv
#import MySQLdb
import pymysql
pymysql.install_as_MySQLdb()
import time

In [ ]:
#LOADING CSV WITH MORE THAN 65K ROWS WHICH IS SLICED TO 50K

In [ ]:
df=pd.read_csv('business_price_indexes_june_2019.csv')
df=df[['Series_reference','Period','Data_value','STATUS','Subject']]
df=df.iloc[:50000,:]
df.head()

In [ ]:
df.info()

In [ ]:

df.shape

In [ ]:
#ASSUMING THE DB IS ALREADY CREATED IN THE DATABASE WITH A TABLE NAME TESTCSV

CREATE TABLE `csv_sql`.`testcsv` (
  `Series_reference` VARCHAR(45) NOT NULL,
  `Period` INT NOT NULL,
  `Data_value` VARCHAR(45) NOT NULL,
  `STATUS` VARCHAR(45) NOT NULL,
  `Subject` VARCHAR(45) NOT NULL);

In [ ]:

mydb = pymysql.connect(host='localhost',
    user='root',
    port=3306,                  
    passwd='root@123',
    db='csv_sql')
cursor = mydb.cursor()

test=cursor.execute('select * from testcsv')
print(test)

In [ ]:

start_time = time.clock()
for row in df:

    cursor.execute('INSERT INTO testcsv([Series_reference]\
    ,[Period]\
    ,[Data_value]\
    ,[STATUS]\
    ,[Subject])''VALUES(%s,%f,%s,%s,%s)',row)
#close the connection to the database.
mydb.commit()
cursor.close()
mydb.close()
print("Data has been entered in database")
print(f"Total time ="{time.clock() - start_time}, "seconds")